main {
  min-height: 100vh;
  background-image: url("/assets/layout/bg-confetti.svg");
  background-attachment: fixed;
}

.post-body {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 5px;
  padding: 45px;
  border-radius: 1rem;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
